/* Little Lemon Colors */
/* Primary: green #495E57 yellow #F4CE14*/
/* Secondary: darkbeige 3EE9972 lightbeige #FBDABB*/
/* Highlights:  grey #EDEFEE dark #333333*/
/* borders */
/* fonts */
/* rounded corners 16 */

body {
    margin: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color:#fff;
}
.grid-container {
    width: device-width;
    min-width: 900px;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 33%));
    grid-gap: 10px;
    grid-row: auto;
    /* Typefaces default */
    font-family: Markazi Text, Karla Regular;
    font-size: medium;
}
.grid-item {
    background-color: 49SE57;
    color: #fff;
    border-radius: 16px;
    border-width: 5px;
    border-style: solid;
    padding: 20px;
    /* Typefaces default */
}
.grid-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    /* Typefaces default */
}
.grid-item header {
    background-color: 49SE57;
    order: 1;
    text-align: center;
    grid-column: auto / span 3;
    /* Typefaces default */
}
.grid-item nav {
    background-color: 49SE57;
    order: 2;
    text-align: center;
    grid-column: auto / span 3;
    color:#fff;
    /* Typefaces default */
}
.grid-item nav:hover {
    color: #F4CE14;
    /* Typefaces default */
}
  /* .promo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    order: 3;
    text-align: center;
    grid-column: auto / span 3;
    font-size: 200%;
  }
  .promo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  .promo button {
    color: burlywood;
    font-style: bold;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60%;
    border-width: 5px 5px 5px 5px;
    border-color: saddlebrown;
    background-color:49SE57
  }
  .promo button:hover {
    background-color: 49SE57;
    color: saddlebrown;
  }
  .info_a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    order: 4;
    text-align: center;
    grid-column: auto / auto;
  }
  .info_a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  .info_b {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    order: 5;
    text-align: center;
    grid-column: auto / auto;
  }
  .info_b img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  .info_c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    order: 6;
    text-align: center;
    grid-column: auto / auto;
  }
  .info_c img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  .footer {
    background-color: 49SE57;
    order: 7;
    text-align: right;
    grid-column: auto / span 3;
    font-family: 'Courier New', Courier, monospace;
    color: burlywood;
  }
  .footer img {
    float: left;
  } */